@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: fit-content;
    gap: 30px;
    padding: 20px 0px;

  }

  #container-propaganda {
    flex-direction: column;
    height: fit-content;
    padding: 20px 0px;


    #imagem-propaganda {
      width: 80%;

      img {
        width: 200px;
        height: 200px;
      }
    }

    #texto-propaganda {
      width: 80%;

      h2 {
        font-size: 2rem;
      }

      .texto-descricao {
        width: 100%;
        text-align: center;
      }

      #btn-cardapio a {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 1rem;
      }

      #informacoes {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin: 20px 0px;



        .btn-infos {
          padding: 8px 15px;
          gap: 5px;

          h3 {
            font-size: 0.5rem; 
          }
          p {
            font-size: 0.5rem;
          }

        }

      }
    }
  }

  #container-hamburguer {
    h2 {
      font-size: 1.7rem;
      align-items: center;
    }

    #lista-hamburguer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      width: 100%;

      .card-hamburguer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

        img {
          width: 150px;
          height: 150px;
        }

        .descricao-hamburguer {
          margin: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 1.5rem;
            margin-bottom: 7px;
          }

          .descricao-card-hamburguer {
            text-align: center;
          }
        }
      }
    }
  }

  #container-bebidas {
    h2 {
      font-size: 1.7rem;
      align-items: center;
    }

    #lista-bebida {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      width: 100%;

      .card-bebida {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

        img {
          width: 150px;
          height: 150px;
        }

        .descricao-bebida {
          margin: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 1.5rem;
            margin-bottom: 7px;
          }

          .descricao-card-bebida {
            text-align: center;
          }
        }
      }
    }

  }

  .preco {
    width: 130px;
    height: 60px;

    a {

      font-size: 1.2rem;
    }
  }

  #container-footer {
    flex-direction: column-reverse;
    height: fit-content;
    gap: 20px;
    padding: 20px 0px;

    #redes-footer {
      gap: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  nav {
    flex-direction: row;
    height: fit-content;
    gap: 40px;
    padding: 25px 10px;
    align-items: center;
    justify-content: space-between;
  }

  #container-propaganda {
    flex-direction: row;
    height: fit-content;
    padding: 30px 10px;
    align-items: center;
    gap: 30px;

    #imagem-propaganda {
      width: 45%;

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }

    #texto-propaganda {
      width: 55%;

      h2 {
        font-size: 2.5rem;
      }

      .texto-descricao {
        width: 100%;
        text-align: left;
        font-size: 1rem;
      }

      #btn-cardapio a {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 1.1rem;
      }

      #informacoes {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        margin: 20px 0px;

        .btn-infos {
          padding: 10px 18px;
          gap: 8px;

          h3 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  #container-hamburguer {
    h2 {
      font-size: 2rem;
      align-items: center;
    }

    #lista-hamburguer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      width: 100%;
      justify-items: center;
      align-items: start;

      .card-hamburguer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;

      img {
        width: 200px;
        height: 200px;
      }

      .descricao-hamburguer {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
        font-size: 1.8rem;
        margin-bottom: 8px;
        }

        .descricao-card-hamburguer {
        text-align: center;
        }
      }
      }
    }
  }

  #container-bebidas {
    h2 {
      font-size: 2rem;
      align-items: center;
    }

    #lista-bebida {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      width: 100%;
      justify-items: center;
      align-items: start;

      .card-bebida {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;

        img {
          width: 200px;
          height: 200px;
        }

        .descricao-bebida {
          margin: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 1.8rem;
            margin-bottom: 8px;
          }

          .descricao-card-bebida {
            text-align: center;
          }
        }
      }
    }
  }

  .preco {
    width: 150px;
    height: 70px;

    a {
      font-size: 1.3rem;
    }
  }

  #container-footer {
    flex-direction: row;
    height: fit-content;
    gap: 25px;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;

    #redes-footer {
      gap: 20px;
      width: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}