:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #ffffff;

  --color--btn: #F97316;
  --color--btn-hover: #EA580C;
  --color--cards: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  height: 80px;
  width: 100;
  background-color: var(--color--cards);

  #logo {
    h1 {
      font-size: 1.5em;
    }
  }

  #opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }


  #btn-peca-agora a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--color--btn);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  #btn-peca-agora a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--color--btn-hover);
  }
}

#container-propaganda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--color--cards);
  border-radius: 60px;

  height: 650px;
  width: 80%;
  margin: 50px auto;
  padding: 2 0px;

  #imagem-propaganda {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    img {
      width: 550px;
      height: 550px;
      border-radius: 20px;
    }
  }

  #texto-propaganda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    height: 100%;

    h2 {
      font-size: 3rem;
      line-height: 0.9;
      color: var(--color--btn);
    }

    .texto-principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .texto-descricao {
      text-align: justify;
      font-size: 1.2rem;
      width: 67%;
    }

    #btn-cardapio a {
      display: inline-block;
      padding: 15px 30px;
      background-color: var(--color--btn);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1.2rem;
      border-radius: 15px;
    }

    #btn-cardapio a:hover {
      cursor: pointer;
      background-color: var(--color--btn-hover);
    }

    #informacoes {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 60px;

      .btn-infos {
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--color--btn);
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        border-radius: 15px;
      }

      .btn-infos:hover {
        cursor: pointer;
        background-color: var(--color--btn-hover);
      }
    }
  }
}